.contact-form__heading {
    color: #8b7969;
    max-width: 1200px;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 40px;
}

.contact-form__content {
    margin: 0 auto;
    padding: 15px 15px;
    max-width: 1200px;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-weight: normal;
}

.form__label--required {
    border-radius: 3px;
    background: #fff;
    color: #f70909;
}